<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<!--Modificare solo i valori nelle variabili-->
	<variable name="file_size" value="1000000"/>
	<variable name="logFile_minLevel" value="Debug"/>
	<variable name="logConsole_minLevel" value="Info"/>
	<variable name="file_name_path" value="${basedir}/logs/${shortdate}/${level}/${level}.log"/>
	<variable name="layout_format_file" value="[${date:format=yyyy-MM-dd HH\:mm\:ss}] | ${uppercase:${level}} | ${message} | ${callsite} At line:${callsite-linenumber} "/>
	<variable name="layout_format_console" value="[${date:format=yyyy-MM-dd HH\:mm\:ss}] | ${uppercase:${level}} | ${message}"/>
	<variable name="archive_file_name" value="${basedir}/logs/${shortdate}-log-{#}.log"/>
	<!--Non modificare-->
	<targets>
		<!--Log for File-->
		<target xsi:type="File"
			name="logFile"
			fileName="${file_name_path}"
			layout="${layout_format_file}"
			createDirs="true"
			archiveFileName="${archive_file_name}"
			archiveNumbering="Sequence"
			archiveDateFormat="yyyy-MM-dd"
			archiveAboveSize="${file_size}"/>
		<!--Log for console-->
		<target xsi:type="ColoredConsole"
			name="logConsole"
			useDefaultRowHighlightingRules="false"
			layout="${layout_format_console}">
			<highlight-word foregroundColor="White" ignoreCase="true" text="info" wholeWords="true" />
			<highlight-word foregroundColor="Darkgray" ignoreCase="true" text="debug" wholeWords="true" />
			<highlight-word foregroundColor="Red" ignoreCase="true" text="warn" wholeWords="true" />
			<highlight-word backgroundColor="Red" foregroundColor="White" ignoreCase="true" text="error" wholeWords="true" />
			<highlight-row backgroundColor="DarkRed" foregroundColor="Yellow" condition="level == LogLevel.Fatal" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="${logFile_minLevel}" writeTo="logFile"/>
		<logger name="*" minlevel="${logConsole_minLevel}"  writeTo="logConsole"/>
	</rules>
</nlog>
